#sign-in-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;
    margin-left: 20%;
    height: 60vh;
    margin-top: 8%;
    border-radius: 2px;
    box-shadow: 1px 10px 20px rgba(0,0,0,0.2);
    border: 1px solid #d43b6e;
}

.sign-in{
    height: 100%;
}

#sign-in-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 70%;
    margin-top: 5%;
}

#sign-in-form > form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
}

#sign-in-form > div {
    font-size: 1.7vw;
}

#sign-in-form > form > input{
    width: 100%;
    height: 15%;
    font-size: 16px;
    margin-left: -5%;
}

#sign-in-form > form > label{
    margin-left: -5%;
}

.register-form > form > label{
    margin-left: 10%;
}

#sign-in-form > form > input[type="submit"]{
    background-color: #d43b6e;
    color: white;
    transition-duration: 0.3s;
    cursor: pointer;
    border: none;
}

.register-form > form > input[type="submit"]{
    background-color: #d43b6e;
    color: white;
    transition-duration: 0.3s;
    cursor: pointer;
    border: none;
}

#sign-in-form > form > input[type="submit"]:hover, #register-submit:hover{
    background-color: #7a237a;
}

.register-container{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-left: 20%;
    height: 70vh;
    margin-top: 8%;
    border-radius: 2px;
    box-shadow: 1px 10px 20px rgba(0,0,0,0.2);
    border: 1px solid #d43b6e;
}

.register-form{
    width: 50%;
    height: 100%;
}

.create-button{
    width: 50%;
    margin-left: 15%;
}
.register-form > form{
    margin-left: 15%;
}

h4{
    text-align: center;
}

.form-input{
    border: 1px solid rgb(184, 182, 182);
    border-radius: 5px;
    height: 25px;
}

#welcome-panel{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: normal;
    text-align: center;
    background-image: linear-gradient(rgb(231, 119, 54), #d43b6e);
    width: 50%;
    height: 100%;
}

#welcome-panel > p, #welcome-panel > a{
    font-size: 18px;
    color: white;
}

.registerLabels{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.registerLabels > label {
    width: 30%;
}

.registerLabels > input {
    width: 60%;
} 

#emailinput{
    width: 70%;
}

#emaillabel{
    width: 20%;
}

.back-button{
    display: none;
}

.dont-have-account{
    font-size: 16px;
    text-align: center;
}

@media only screen and (min-width: 701px) and (max-width: 900px) {
    #sign-in-container{
        width: 80%;
        margin-left: 10%;
    }
    #welcome-panel{
        display: none;
    }
    .register-form{
        margin-left: 20%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 700px) {
    #sign-in-container{
        width: 80%;
        margin-left: 10%;
    }
    #sign-in-form > div {
        font-size: 2.5vw;
    }
    .registerLabels{
        font-size: 2vw;
    }
    #welcome-panel{
        display: none;
    }
    .register-form{
        margin-left: 10%;
    }
    .register-container{
        width: 65%;
        height: 550px;
    }
}

@media only screen and (max-width: 500px) { 
    #sign-in-container{
        width: 90%;
        margin-left: 5%;
        flex-direction: column;
    }
    #sign-in-form {
        width: 100%;
    }
    #sign-in-form > div {
        font-size: 4vw;
    }
    #welcome-panel{
        display: none;
    }
    .back-button{
        display: block;
        margin-left: calc(50% - 15px);
    }
    .registerLabels{
        font-size: 4vw;
    }
    #welcome-panel{
        display: none;
    }
    .register-form{
        margin-left: 10%;
    }
    .register-container{
        height: 600px;
    }
    .back-button{
        margin-top: 10%;
    }
}
@media only screen and (max-width: 420px) { 
    .register-form{
        width: 20%;
        margin-left: 3%;
    }
    .register-form > h4{
        margin-left: 100%;
    }
    .register-container{
        height: 800px;
    }
    .create-button{
        width: 150%;
    }
}


