#products-list{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin-top: 1%;
    width: 100%;
}

#products-list > div {
    display: flex;
    margin: 2% 5% 1% 5%;
    width: 15%;
    box-shadow: 1px 10px 20px #888888;
}

.inner-item{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.user-who-posted{
    text-align: center;
    border-bottom: 1px solid rgb(189, 188, 188);
}

.functionalities{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.functionalities > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(189, 188, 188);
    border-top: 1px solid rgb(189, 188, 188);
}

.time{
    border-right: 1px solid rgb(189, 188, 188);
}

.modelimage{
    width: 100%;
}

.button-details{
    width: 100%;
    background-color: #1c1d1b;
    font-size: 15px;
    border: none;
    color: white;
    transition-duration: 0.3s;
    cursor: pointer;
}

.button-details:hover{
    background-color: #747271;
}

@media only screen and (min-width: 1365px) {
    #products-list{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 601px) and (max-width: 950px) {
    #products-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
    #products-list{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 400px) {
    #products-list{
        grid-template-columns: 1fr;
    }
}
