#products-list{
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 1%;
    width: 100%;
}

.product-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 2% 2.5%;
    width: 20%;
    box-shadow: 1px 10px 20px #888888;
}

.functionalities{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.functionalities > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(189, 188, 188);
    border-top: 1px solid rgb(189, 188, 188);
}

.time{
    border-right: 1px solid rgb(189, 188, 188);
}

.modelimage{
    width: 100%;
    flex: 1;
    border-top: 1px solid rgb(189, 188, 188);
    border-bottom: 1px solid rgb(189, 188, 188);
}

.button-details{
    width: 100%;
    background-color: #1c1d1b;
    font-size: 15px;
    border: none;
    color: white;
    transition-duration: 0.3s;
    cursor: pointer;
}

.button-details:hover{
    background-color: #747271;
}

@media only screen and (min-width: 1367px) {
    .product-item{
        width: 15%;
    }
}

@media only screen and (min-width: 660px) and (max-width: 950px) {
    .product-item{
        width: 28%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 659px) {
    .product-item{
        width: 45%;
    }
}

@media only screen and (max-width: 420px) {
    #products-list{
        flex-direction: column;
    }
    
    .product-item{
        width: 90%;
        margin-left: 5%;
    }
}
